* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

#site_header {
  height: 560px;
}
#site_header .top_header {
  background-color: #0282F9;
  color: white;
  font-weight: 500;
}
#site_header .top_header div {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
}
#site_header .top_header div span {
  font-size: 12px;
  padding: 0.4rem 1rem;
}
#site_header .nav {
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
#site_header .nav nav {
  display: flex;
}
#site_header .nav nav a {
  text-decoration: none;
  color: black;
  margin: 0 1rem;
  font-weight: 500;
}
#site_header .nav input {
  border: none;
  border-bottom: 2px solid #0282F9;
}
#site_header > img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

#site_main {
  background-color: #1c1c1c;
}
#site_main .container {
  position: relative;
  text-align: center;
}
#site_main .container .title {
  position: absolute;
  background-color: #0282F9;
  color: white;
  padding: 0.8rem 1.5rem;
  top: -30px;
  left: 15%;
  font-weight: 600;
  font-size: 1.7rem;
}
#site_main .container .fumetti {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  text-align: left;
}
#site_main .container .fumetti .fumetto {
  margin: 0.5rem;
  width: 15%;
}
#site_main .container .fumetti .fumetto a {
  text-decoration: none;
}
#site_main .container .fumetti .fumetto img {
  min-width: 180px;
  min-height: 180px;
  max-height: 200px;
  max-width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
#site_main .container .fumetti .fumetto h3 {
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  font-size: 1rem;
  max-width: 170px;
  margin-top: 0.7rem;
}
#site_main .container button {
  background-color: #0282F9;
  padding: 0.7rem 2.5rem;
  color: white;
  border: none;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
#site_main .banda {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #0282F9;
  display: flex;
  justify-content: space-around;
  color: white;
  padding-left: 15%;
  padding-right: 15%;
}
#site_main .banda > div {
  display: flex;
  align-items: center;
}
#site_main .banda > div img {
  width: 70px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 1rem;
}
#site_main .blue {
  background-color: #0282F9;
  height: 80px;
  position: relative;
}
#site_main .blue .copertina {
  position: absolute;
  top: -240px;
  left: 20%;
}
#site_main .blue .copertina > img {
  border: 1px solid white;
}
#site_main .white {
  background-color: white;
  padding: 3rem 20%;
  margin: auto;
  display: flex;
}
#site_main .white .left {
  display: flex;
  flex-direction: column;
  width: 70%;
  z-index: 2;
}
#site_main .white .left h3 {
  color: #003F5E;
  text-transform: uppercase;
  font-size: 2rem;
}
#site_main .white .left > div {
  margin-top: 2rem;
  display: flex;
  border-bottom: 1px solid #357739;
}
#site_main .white .left > div button {
  background-color: #55BA59;
  padding: 0.9rem 1.4rem;
  border: none;
  font-size: 1rem;
  font-weight: 600;
}
#site_main .white .left > div button span {
  color: #BAFD9C;
}
#site_main .white .left > div button span .fumetto_price {
  color: white;
}
#site_main .white .left > div .price {
  display: flex;
  width: 70%;
  justify-content: space-between;
  border-right: 1px solid #357739;
}
#site_main .white .left > div .checkAvailable {
  color: white;
  width: 30%;
}
#site_main .white .left > p {
  margin-top: 1rem;
  line-height: 1.5rem;
}
#site_main .white .right {
  width: 30%;
}
#site_main .white .right img {
  margin-left: 10%;
}
#site_main .white .right h5 {
  text-align: right;
  color: #555555;
  font-size: 1rem;
}

.talentESpecs {
  background-color: #F6F6F6;
  display: flex;
  border-top: 1px solid #E3E3E3;
  padding: 0 20%;
  padding-bottom: 3rem;
}
.talentESpecs > div {
  width: 50%;
  margin: 0 1rem;
}
.talentESpecs > div h4 {
  color: #003F5E;
  padding: 2rem 0;
  font-size: 1.5rem;
  font-weight: 500;
}
.talentESpecs > div > div {
  border-top: 1px solid #E3E3E3;
  padding: 1rem 0;
  display: flex;
}
.talentESpecs > div > div h5 {
  font-size: 0.9rem;
  width: 40%;
  font-weight: 400;
  color: #003F5E;
}
.talentESpecs > div > div p {
  width: 60%;
  font-size: 0.9rem;
}
.talentESpecs > div > div p > span {
  color: #00A9D9;
}
.talentESpecs > div > div .series {
  text-transform: uppercase;
  color: #00A9D9;
}
.talentESpecs > div > div span {
  font-size: 0.9rem;
}
.talentESpecs > div .last {
  border-bottom: 1px solid #E3E3E3;
}

.buy {
  background-color: #F6F6F6;
  border-top: 1px solid #E3E3E3;
}
.buy .container {
  width: 70%;
  margin: auto;
  border-left: 1px solid #E3E3E3;
  display: flex;
}
.buy .container > div {
  width: 25%;
  height: 100%;
  border-right: 1px solid #E3E3E3;
  display: flex;
  justify-content: space-between;
  padding: 0.8rem;
}
.buy .container > div h4 {
  color: #9F9F9F;
}
.buy .container > div img {
  filter: brightness(60%);
  height: 70px;
}

#site_footer {
  position: relative;
  overflow: hidden;
}
#site_footer .background {
  width: 100%;
}
#site_footer .background .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#site_footer .background .logo {
  position: absolute;
  top: -10%;
  right: 15%;
  width: 600px;
  z-index: -1;
}
#site_footer .elenco {
  line-height: 1.5rem;
  width: 500px;
  height: 350px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: 15%;
  margin-top: 3rem;
}
#site_footer .elenco h2 {
  color: white;
  padding: 1rem 0;
}
#site_footer .elenco ul li {
  list-style: none;
  color: grey;
}
#site_footer .cookies {
  margin-top: 2rem;
  color: grey;
  margin-left: 15%;
  width: 40%;
  padding-bottom: 2rem;
}
#site_footer .registrati {
  background-color: #303030;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 15%;
}
#site_footer .registrati button {
  background-color: #303030;
  color: white;
  border: 2px solid #0282F9;
  font-size: 1.2rem;
  padding: 0.7rem;
}
#site_footer .registrati .social {
  display: flex;
  align-items: center;
}
#site_footer .registrati .social span {
  color: #0282F9;
  font-weight: 500;
  font-size: 1.2rem;
  margin-right: 1rem;
}
#site_footer .registrati .social img {
  margin: 0 0.5rem;
}